@use './button.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
#root{
    width: 100%;
    background-color: #333232;
    color: whitesmoke; 

}
a{
    color: rgb(245, 79, 42);
    text-decoration: none;
}